server {
  listen 443 {{ listen_protos }};
  server_name _;

  root /var/www;

  ssl on;
  ssl_certificate /etc/nginx/ssl/server.crt;
  ssl_certificate_key /etc/nginx/ssl/server.key;

  location / {
    index index.html;
  }

}

